<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Requiresd meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <!-- ssg CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Hello, ssg!</title>
</head>
<body>
    <!-- 네비게이션바 -->
    <nav th:replace="navbar :: navbarFragment"></nav>
    <!-- layout을 상속한 템플릿에서 개별적으로 구현해야하는 영역 -->

    <!-- 기본 템플릿 안에 삽입될 내용 Start-->
    <th:block layout:fragment="content"></th:block>
    <!-- 기본 템플릿 안에 삽입될 내용 End-->

    <!-- Bootstrap JS -->
    <script th:src="@{/bootstrap.min.js}"></script>

    <!-- 자바스크립트 Start -->
    <!-- html 구조에서 자바스크립트는 렌더링이 완료된 후에 실행되기 때문에 body의 닫는 태그 바로위에 삽입하는 것이 좋다. 로딩 지연이나 오류가 발생할 수 있다. -->
    <th:block layout:fragment="script"></th:block>
    <!-- 자바스크립트 End -->
</body>
</html>